$colores: (
    "green-color": #51BAA4,
    "white-color": white,
    "background-form": rgb(28, 40, 49),
    "input-form": rgb(76, 75, 77),
    "lightgray-color": lightgray,
    "gray-color": rgba(172, 171, 171, 0.89),
    "black-header": rgba(0, 0, 0, 0.5),
    "gray-header": rgba(255,255,255,0.3),
    "gray-posts": rgba(211, 211, 211, 0.548),
    "gray-hr": rgba(255, 255, 255, 0.5),
    "gray-hover": rgba(245, 245, 245, 0.1),
);

$fuente: 'Raleway';
$fondo-header: url(images/banner.jpg);
$fondo-last-post: url(images/pic11.jpg);