@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");
/*BOTONES----------------------------------------------------------------------*/
button {
  border-radius: 40px;
}

.button__green {
  background-color: #51BAA4;
  border: 1px solid #51BAA4;
  padding: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-size: 1em;
}

.main__posts button, .main__galeria button {
  border: 2px solid #51BAA4;
  border-radius: 40px;
  color: #51BAA4;
  padding: 0.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-size: 1em;
  font-weight: bolder;
  margin-top: 2em;
}

.main__posts button {
  min-width: 10em;
}

.button__white {
  background-color: transparent;
  border: 2px solid white;
  padding: 1.5em;
  font-size: 1em;
  font-weight: bolder;
  margin-top: 2em;
}
.button__white:hover {
  background-color: rgba(245, 245, 245, 0.1);
}

.button__reset {
  background-color: transparent;
  border: 3px solid white;
  padding: 1em;
  font-size: 1em;
  font-weight: bolder;
  margin-top: 2em;
  margin-bottom: 8em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

*,
*::before,
*::after {
  box-sizing: border-box; /* sin esta regla, el ancho y alto de un elemento se calcula sin tener en cuenta el relleno y el borde*/
  margin: 0; /* para garantizar que no haya márgenes o rellenos no deseados aplicados de forma predeterminada por el navegador*/
  padding: 0;
}

/*COLORES----------------------------------------------------------------------*/
header, i, button, .main__last__post, .main__formulario {
  color: white;
}

::-moz-placeholder {
  color: rgba(172, 171, 171, 0.89);
}

.main__posts p, ::placeholder {
  color: rgba(172, 171, 171, 0.89);
}

footer, footer a {
  color: lightgray;
}

.main__posts article, .main__posts button, .main__galeria button {
  background-color: white;
}

/*FUENTES----------------------------------------------------------------------*/
body, input, textarea {
  font-family: "Raleway";
}

/*HEADER----------------------------------------------------------------------*/
header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3)), url(images/banner.jpg);
  background-size: cover;
  background-position: top;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
}

nav h2, nav i, .main__galeria img, button, .main__redes i {
  cursor: pointer;
}

.header__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25em;
}
.header__main i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.4em;
  min-width: 1.8em;
  min-height: 1.8em;
  margin-bottom: 0.5em;
}
.header__main h2 {
  font-size: xx-large;
}
.header__main p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: larger;
}

/*MAIN------------------------------------------------------------------------*/
main {
  width: 100%;
}

/*SECCIÓN POSTS---------------------------------------------------------------*/
.main__posts {
  background-color: rgba(211, 211, 211, 0.548);
  overflow: hidden;
}
.main__posts article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 90%;
  padding: 0.2em;
  margin-bottom: 5em;
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 5em;
}
.main__posts figure {
  width: 100%;
  min-width: 50%;
  min-height: 20%;
  height: auto;
  margin-top: 5em;
  margin-bottom: 5em;
}

.main__posts article:nth-child(2) {
  flex-direction: row-reverse;
}

.main__posts__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  line-height: 2em;
  margin-left: 3em;
  margin-right: 3em;
}
.main__posts__texto h2 {
  margin-bottom: 2em;
}
.main__posts__texto p {
  margin-right: 2em;
}

/*GALERIA--------------------------------------------------------------*/
.main__galeria {
  padding: 3em;
  flex: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-areas: "title" "description" "grid" "button";
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main__galeria h2 {
  grid-area: title;
}
.main__galeria p {
  grid-area: description;
}
.main__galeria img {
  width: 100%;
  height: auto;
}
.main__galeria button {
  grid-area: button;
}

.main__galeria h2, .main__last__post h2 {
  font-size: xx-large;
  margin-bottom: 1em;
}

.main__galeria p, .main__last__post p {
  font-size: larger;
  margin-bottom: 4em;
}

.main__galeria__fotos {
  grid-area: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
}

/*ÚLTIMO POST---------------------------------------------------------------*/
.main__last__post {
  background-image: url(images/pic11.jpg);
  height: 30em;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*FORMULARIO------------------------------------------------------------------*/
.main__formulario {
  background-color: rgb(28, 40, 49);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10em;
}
.main__formulario p {
  margin-top: 2em;
  margin-bottom: 2em;
}
.main__formulario li {
  list-style: none;
}
.main__formulario hr {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  min-width: 85%;
  margin: 2em auto;
}

input, textarea {
  border: 1px solid rgb(76, 75, 77);
  background-color: rgb(76, 75, 77);
  min-width: 41em;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 2em;
  margin-left: 2em;
}

textarea {
  min-width: 84em;
}

.main__formulario__data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

/*REDES-----------------------------------------------------------------------*/
.main__redes i {
  color: lightgray;
  margin-top: 2em;
  margin-right: 2em;
}
.main__redes i:hover {
  color: white;
}

/*FOOTER----------------------------------------------------------------------*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 5em;
}
footer p {
  color: lightgray;
}
footer a {
  color: #51BAA4;
}

/*MEDIA QUERIES---------------------------------------------------------------*/
/*DESKTOP---------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  .main__posts article, footer, .main__posts article:nth-child(2) {
    flex-direction: column;
  }
  .main__posts article img {
    margin-top: 0;
  }
  .formulario {
    padding: 2em;
  }
  input, textarea {
    width: 100%;
    margin-left: 0;
  }
  textarea {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main__posts button {
    align-self: center;
    margin-top: 1em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .fotos {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /*1 foto por fila*/
  }
  .formulario {
    padding: 1em;
  }
  input, textarea {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  footer {
    height: 10em;
  }
  footer p {
    margin-bottom: 3em;
  }
}
/*MOBILE---------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .fotos {
    grid-template-columns: repeat(2, 1fr); /*2 fotos por fila*/
  }
}
@media screen and (min-width: 1024px) {
  .fotos {
    grid-template-columns: repeat(4, 1fr); /*4 fotos por fila*/
  }
}/*# sourceMappingURL=style.css.map */